node_modules
.env
*.log
backend/node_modules
frontend/node_modules
backend/dist
frontend/dist
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/avatars/
!backend/uploads/covers/
!backend/uploads/tracks/
backend/uploads/avatars/*
backend/uploads/covers/*
backend/uploads/tracks/*
!backend/uploads/avatars/.gitkeep
!backend/uploads/covers/.gitkeep
!backend/uploads/tracks/.gitkeep
